/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
$main-color-med: #55c57a;
$main-color-light: #7ed56f;
$main-color-dark: #28b485;

$sec-color-light: #ffb900;
$sec-color-med: #ff7730;

$third-color-light: #2998ff;
$third-color-med: #5643fa;

$gray-color: #777;
$white-color: #fff;

$shadow-color: rgba(0, 0, 0, 0.2);

$gray-color-light-1: #f7f7f7f7;
$gray-color-light-2: #aaa;
$gray-color-light-3: #555;
